<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digitcreativestudio.siagabanjir" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheckMyLocationActivity"
            android:label="Cek Status Kerawanan" />
        <activity
            android:name=".ReportFloodActivity"
            android:label="Laporkan Banjir" />
        <activity
            android:name=".FloodAreaActivity"
            android:label="@string/title_activity_flood_area" >
        </activity>

        <provider
            android:enabled="true"
            android:exported="false"
            android:syncable="true"
            android:authorities="@string/content_authority"
            android:name=".data1.FloodProvider"
            android:permission="dcs.beritauniversitas.LICENSE_TO_KILL"/>

        <provider
            android:enabled="true"
            android:exported="false"
            android:syncable="true"
            android:authorities="@string/content_authority"
            android:name=".data.FloodProvider"
            android:permission="dcs.beritauniversitas.LICENSE_TO_KILL"/>

    </application>

</manifest>
