<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digitcreativestudio.siagabanjir" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Log In"
            ></activity>
        <activity
            android:name=".EditProfilActivity"
            android:label="Edit Profil"
            ></activity>
        <activity
            android:name=".UbahPasswordActivity"
            android:label="Ubah Password"
            ></activity>
        <activity
            android:name=".LupaPasswordAcivity"
            android:label="Lupa Password"
            ></activity>
        <activity
            android:name=".CreateAccountActivity"
            android:label="Create Account"
            >
        </activity>
        <activity
            android:name=".AccountActivity"
            android:label="Account"
            >
        </activity>
        <activity
            android:name=".CheckMyLocationActivity"
            android:label="Cek Status Kerawanan"
            ></activity>
        <activity
            android:name=".ReportFloodActivity"
            android:label="Laporkan Banjir"
            ></activity>

        <provider
            android:name=".data.FloodProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />
    </application>

</manifest>
